<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/base.css') }}">
{% extends 'base.html' %}
{% block content %}
    <h4>Welcome to web.site</h4>
    <a href="{{ url_for('index') }}">Please click this link to login</a>
{% endblock %}
