<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script
    src=""
    crossorigin="anonymous"></script>
<script type="text/javascript"
    >const data = JSON.parse({{ data|tojson }})</script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/account.js') }}"></script>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/base.css') }}">
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'base.html' %}
{% block content %}
    <div class="accountInfo" style="margin-bottom: -8px;">
        <div class="row">
            <div class="col-sm-auto">
                <a href="/logout/{{ account.accountView.guid }}">
                    <i class="red-icon far fa-arrow-alt-circle-left fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-ml-auto" style="padding-top: 4px;">
                <h6>Logged in as {{ account.accountView.username }}</h6>
            </div>
        </div>
    </div>
    {% if account.accountView.isAdmin %}
        <br>
        <div class="admin border">
            <div class="row">
                <div class="col-md">
                    <h4>Admin Tools</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md" >
                    <h5>Resources</h5>
                    <div id="registerResourceDialog" style="margin-left: 4px;">
                        <h6>Add resource</h6>
                        <form onsubmit="return attemptRegisterResource();" id="registerResourceForm" style="margin-bottom: -8px;">
                            <div class="form-row">
                                <div class="form-group col-md-auto" style="width: 45%;">
                                    <label for="newResourceName">Resource name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="newResourceName"
                                        id="newResourceName"
                                        maxlength="32"
                                        required="required"
                                        pattern=".{1,}"
                                        style="width: 98%;">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="newResourceCode">Resource code</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="newResourceCode"
                                        id="newResourceCode"
                                        maxlength="8"
                                        required="required"
                                        pattern=".{1,}"
                                        style="width: 50%;">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="newResourceURL">Resource URL</label>
                                    <div class="input-group mb3" style="width: 141%;">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="newResourceURL"
                                            required="required"
                                            pattern=".{1,}"
                                            id="newResourceURL">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="newResourceGSlidesURL">Google Slides Share URL</label>
                                    <div class="input-group mb3" style="width: 141%;">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="newResourceGSlidesURL"
                                            required="required"
                                            pattern=".{1,}"
                                            id="newResourceGSlidesURL">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-mr-6">
                                    <button type="submit" class="red-btn btn btn-primary">Add</button>
                                </div>
                                <div class="form-group col-md-6">
                                    <p
                                        class="text-danger fst-italic p-error"
                                        id="registerResourceFormError"
                                        style="visibility: hidden;"
                                        >Resource name or code already exists</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="border-bottom" id="resourceMeta">
                <div class="row">
                    <div class="col-ml-auto">
                        <p
                            class="text-danger fst-italic p-error-sm"
                            id="resourceDeleteError"
                            >Resource delete failed</p>
                    </div>
                </div>
                <div class="table-wrapper">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Code</th>
                                <th scope="col">Created</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="resourcesTable">
                            {% for resourceMeta in account.accountView.adminView.resourcesMeta %}
                                <tr>
                                    <th scope="row">{{ resourceMeta.name }}</th>
                                    <td>{{ resourceMeta.code }}</td>
                                    <td>{{ resourceMeta.created }}</td>
                                    <td>
                                        <button type="button" class="resourceDelete btn btn-danger" aria-label="Left Align" id="{{ resourceMeta.guid }}">
                                            <span class="fas fa-trash" aria-hidden="true" id="{{ resourceMeta.guid }}"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
            <div class="row" style="margin-top: 4px;">
                <div class="col-md">
                    <h5>Teachers Pack Accounts</h5>
                    <div id="registerAccountDialog" style="margin-left: 4px;">
                        <h6>Create new account</h6>
                        <form onsubmit="return attemptRegisterAccount();" id="registerAccountForm" style="margin-bottom: -8px;">
                            <div class="form-row">
                                <div class="form-group col-md-auto" style="width: 45%;">
                                    <label for="newAccountUsername">Username</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="newAccountUsername"
                                        id="newAccountUsername"
                                        minlength="6"
                                        maxlength="32"
                                        required="required"
                                        pattern=".{1,}"
                                        style="width: 98%;">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="newAccountOTP">Password (OTP)</label>
                                    <div class="input-group mb3" style="width: 50%;">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="newAccountOTP"
                                            id="newAccountOTP"
                                            required="required"
                                            pattern=".{1,}"
                                            disabled>
                                        <div class="input-group-append" style="margin-left: 2px;">
                                            <button type="button" class="btn btn-default" aria-label="Left Align" id="copyOTP">
                                                <span class="far fa-copy" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {% for resourceMeta in account.accountView.adminView.resourcesMeta %}
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" id="cb{{ resourceMeta.guid }}">
                                            <label class="form-check-label" for="cb{{ resourceMeta.guid }}">{{ resourceMeta.code }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-mr-auto">
                                    <button
                                        type="submit"
                                        class="red-btn btn btn-primary"
                                        required="required"
                                        pattern=".{1,}"
                                        id="createRegisterAccount"
                                        >Create</button>
                                    <button
                                        type="button"
                                        class="red-btn btn btn-primary"
                                        aria-label="Left Align"
                                        required="required"
                                        pattern=".{1,}"
                                        id="clearRegisterAccount"
                                        style="display: none;"
                                        >Clear</button>
                                </div>
                                <div class="form-group col-md-6">
                                    <p
                                        class="text-danger fst-italic p-error"
                                        id="registerAccountFormError"
                                        >Username already exists</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="accountMeta">
                <div class="row">
                    <div class="col-ml-auto">
                        <p
                            class="text-danger fst-italic p-error-sm"
                            id="accountDeleteError"
                            >Account delete failed</p>
                    </div>
                </div>
                <div class="table-wrapper">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Resources</th>
                                <th scope="col">Last Accessed</th>
                                <th scope="col">Created</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="userAccountsTable">
                            {% for accountMeta in account.accountView.adminView.accountsMeta %}
                                <tr>
                                    <th scope="row">{{ accountMeta.username }}</th>
                                    <td>{{ accountMeta.resources }}</td>
                                    <td>{{ accountMeta.last_accessed }}</td>
                                    <td>{{ accountMeta.created }}</td>
                                    <td>
                                        <button type="button" class="accountDelete btn btn-danger" aria-label="Left Align" id="{{accountMeta.guid }}">
                                            <span class="fas fa-user-minus" aria-hidden="true" id="{{ accountMeta.guid }}"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
    <div class="user" style="padding-top: 4px;">
        <div id="resourceContent" style="margin: 0 4px 0 4px;">
            {% for guid, res in account.accountView.resources.items() %}
                <div class="row" style="margin: 4px 2px 0 0;">
                    <div class="col-md-auto">
                        <p>
                            <button
                                class="red-btn btn btn-primary"
                                type="button"
                                data-toggle="collapse"
                                data-target="#{{ res.code }}"
                                aria-expanded="{{ not account.accountView.isAdmin }}"
                                aria-controls="{{ res.code }}"
                                >{{ res.name }} [{{ res.code}}]</button>
                        </p>
                    </div>
                    <div class="col-ml-auto">
                        <a class="red-btn btn btn-primary" href="{{ res.gslides }}" role="button" target="_blank">
                            Open in Google Slides
                        </a>
                    </div>
                </div>
                <div class='{{ "collapse" if account.accountView.isAdmin else "collapse show" }}' id="{{ res.code }}">
                    <div class="card card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <h5>{{ res.name }}</h5>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <iframe
                                    width="900"
                                    height="600"
                                    src="{{ res.url }}"
                                ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
            {% if (not account.accountView.isAdmin) and account.accountView.resources.items()|length < 1 %}
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                <h5>You currently have no resources</h5>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <h6>Please contact us</h6>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
