<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script
    type="text/javascript"
    >const data = JSON.parse({{ data|tojson }})</script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/login.js') }}"></script>
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/base.css') }}">
{% extends 'base.html' %}
{% block content %}
    <h4>Welcome to web.site</h4>
    <div id="loginDialog">
        <h5>Please login</h5>
        <form onsubmit="return attemptLogin();" id="loginForm">
            <div class="form-row">
                <div class="form-group col-md-auto" style="width: 33%;">
                    <label for="loginFormUsername">Username</label>
                        <input
                            type="text"
                            class="form-control"
                            name="loginFormUsername"
                            id="loginFormUsername"
                            minlength="6"
                            maxlength="32"
                            required="required"
                            pattern=".{1,}"
                            style="width: 98%;">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto" style="width: 33%;">
                    <label for="loginFormPassword">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="loginFormPassword"
                        id="loginFormPassword"
                        minlength="8"
                        maxlength="32"
                        required="required"
                        pattern=".{1,}"
                        style="width: 98%;">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-mr-auto">
                    <button type="submit" class="red-btn btn btn-primary">Submit</button>
                </div>
                <div class="form-group col-md-6">
                    <p
                        class="text-danger fst-italic p-error"
                        id="loginFormError"
                        >Account was not found</p>
                </div>
            </div>
        </form>
    </div>
    <div id="passwordChangeDialog" class="hidden">
        <h5>Please set your password</h5>
        <form onsubmit="return attemptPasswordChange();" id="passwordChangeForm">
            <div class="form-row">
                <div class="form-group col-md-auto" style="width: 33%;">
                    <label for="passwordChangeUsername">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        name="passwordChangeUsername"
                        id="passwordChangeUsername"
                        disabled
                        style="width: 98%;">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto" style="width: 33%;">
                    <label for="passwordChangePrev">Old password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="passwordChangePrev"
                        id="passwordChangePrev"
                        minlength="8"
                        maxlength="32"
                        required="required"
                        pattern=".{1,}"
                        style="width: 98%;">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto" style="width: 33%;">
                    <label for="passwordChangeNewA">New password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="passwordChangeNewA"
                        id="passwordChangeNewA"
                        minlength="8"
                        maxlength="32"
                        required="required"
                        pattern=".{1,}"
                        style="width: 98%;">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto" style="width: 33%;">
                    <label for="passwordChangeNew">New password (repeat)</label>
                    <input
                        type="password"
                        class="form-control"
                        name="passwordChangeNew"
                        id="passwordChangeNew"
                        minlength="8"
                        maxlength="32"
                        required="required"
                        pattern=".{1,}"
                        style="width: 98%;">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-mr-auto">
                    <button type="submit" class="red-btn btn btn-primary">Submit</button>
                </div>
                <div class="form-group col-md-6">
                    <p
                        class="text-danger fst-italic p-error"
                        id="passwordChangeFormError"
                        ></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
