.hidden {
    display: none;
}

.p-error {
    visibility: hidden;
    margin: 8px 0 -8px 0;
}

.p-error-sm {
    visibility: hidden;
    margin: 2px 0 -2px 0;
}

.table-wrapper {
    max-height: 280px;
    overflow: auto;
    display: block;
}
.table-wrapper::-webkit-scrollbar {
    display: none;
}
.table-wrapper {
    scrollbar-width: none;
}

.red-btn {
    background-color: #D52229 !important;
    border-color: #D52229 !important;
}

.red-icon {
    color: #D52229 !important;
}

.red-btn:active:focus {
    border-color: pink;
}